.TextMessage {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40%;
    font-family: 'Press Start 2P';
    font-size: 12px;
    padding: 10px;
    background: var(--menu-background);
    border: 1px solid var(--menu-border-color);
    color: var(--menu-font-color);
}

.TextMessage_p {
    margin-top: 10px;
    margin-left: 2px;
    font-size: 8px;
    line-height: 12px;
}

.TextMessage span {
    opacity: 0;
}
.TextMessage span.revealed {
    opacity: 1;
}

.TextMessage_button {
    margin: 0;
    font-size: 6px;
    padding: 0;
    background: none;
    border: 0;
    color: var(--menu-font-color);
    font-family: inherit;
    cursor: pointer;
    position: absolute;
}

.TextMessage_button-wrapper {
    display: none;
    justify-content: center;
    align-content: center;
    margin-top: 15px;
    
}
.TextMessage_button-wrapper--visible {
    display: flex;
}

.TextMessage_choice-button {
    background: none;
    border: 0;
    color: var(--menu-font-color);
    font-family: inherit;
    cursor: pointer;
    font-size: 8px;
    padding: 10px;
    transition: 300ms;
}
.TextMessage_choice-button:hover {
    color: red;
}

.TextMessage_next-button {
    right: 10px;
    bottom: 10px;
}

.TextMessage_close-button {
    left: 3px;
    top: 2px;
    font-size: 8px;
}